.row > .col-6{
  height: 100vh;
}
.contenedorImagen{
  background-image: url('./login.jpg'); /* Asegúrate de que la ruta sea correcta */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.contenedorFormulario{
  align-content: center;
}
.botonInicio{
  position: absolute;
  float: right !important;
}